/*
    Document   : r2projekti/application/views/css/review.css
    Created on : 2015-12-07 08:32 AM
    Author     : joseu
*/
.row {
    border: 1px dashed green;

}

span {
    border: 1px dotted red;
}

.navbar {
    border: 1px dotted blue !important;
}

ul {
    border: 1px dotted blue !important;
}

div[class^="col-"] {
	font-size: 1.25em;
	min-height: 2em;
    background-color: rgba(255, 0, 0, 0.2);
	
}
