#product-div {
	margin: 0.5em;
	padding: 1em;
	
}

div[class^="col-"] {
	font-size: 1.25em;
}

#product-brief{
	min-height: 2em;
}

#product-name{
	font-weight: bold;
}

#product-year{
	font-style:italic;
}
