#product-div {
	
	margin: 0.5em;
	padding: 1em;


	
	




	
	
	
}

div[class^="col-"] {
	font-size: 1.25em;

	min-height: 2em;

	
}

#button1{
	margin-left:0.5em;
}

#product-title{
	margin-bottom:0;
	padding-bottom:0;
}

.buttonit{
	
}