/*
    Document   : r2projekti/css/review.css
    Created on : 2015-12-08 01:20 PM
    Author     : joseu
*/
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.label-left-aligned {
	padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
}