<!DOCTYPE html>
<html>

<head>
    <title>Review Book</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <legend>Write a Book Review</legend>

        <form accept-charset="UTF-8" action="#" class="form-horizontal" id="write_review" method="post" role="form">

            <div class="form-group required">
                <label for="inputProductID" class="control-label col-md-1 required">Book ID</label>
                <div class="col-md-2">
                    <input type="number" class="form-control" id="inputProductID" min="1" placeholder="ID">
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-1 required control-label">Rating</label>
                <div class="col-md-3">
                    <label class="radio-inline" for="inputRating">
                        <input class="radio-inline" type="radio" id="inputRating" name="radio1">1
                    </label>
                    <label class="radio-inline">
                        <input class="radio-inline" type="radio" id="inputRating" name="radio2">2
                    </label>
                    <label class="radio-inline">
                        <input class="radio-inline" type="radio" id="inputRating" name="radio3">3
                    </label>
                    <label class="radio-inline">
                        <input class="radio-inline" type="radio" id="inputRating" name="radio4">4
                    </label>
                    <label class="radio-inline">
                        <input class="radio-inline" type="radio" id="inputRating" name="radio5">5
                    </label>
                </div>
            </div>

            <div class="form-group required">
                <label for="inputProductReview" class="control-label col-md-1 required">Review</label>
                <div class="col-md-5">
                    <textarea class="form-control" id="inputProductReview" rows="15"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputProductPros" class="control-label col-md-1 required">Pros</label>
                <div class="col-md-5">
                    <textarea class="form-control" id="inputProductPros" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputProductCons" class="control-label col-md-1 required">Cons</label>
                <div class="col-md-5">
                    <textarea class="form-control" id="inputProductCons" rows="5"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-1">
                    <button type="submit" class="btn btn-primary">Post Review</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>